<div class='Catgle_Wrapper'>
  <app-searcher class="Catgle_Wrapper_Searcher" (passInputValue)="getInputValue($event)"
    (passButtonHandler)="handleSearchClick($event)"></app-searcher>
  <div class="Catgle_Wrapper_Results" *ngIf="!isLoading">
    <app-results [kitties]="results" [error]="error" [noKitties]="noResults"></app-results>
  </div>
  <div class="Catgle_Wrapper_spinnerWrapper" *ngIf="isLoading">
    <fa-icon [icon]="faSpinner" class='Catgle_Wrapper_spinner' [spin]="true"></fa-icon>
  </div>
</div>