.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}
.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}
.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0;
  }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    top: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
    bottom: 0;
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}
.Toastify__toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--dark {
  background: #121212;
  color: #fff;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: #3498db;
}
.Toastify__toast--success {
  background: #07bc0c;
}
.Toastify__toast--warning {
  background: #f1c40f;
}
.Toastify__toast--error {
  background: #e74c3c;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 6px;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.Toastify__close-button--default {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover, .Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: left;
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
}
.Toastify__progress-bar--default {
  background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
}
.Toastify__progress-bar--dark {
  background: #bb86fc;
}
@keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
}
.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
}

/*# sourceMappingURL=ReactToastify.css.map */

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.--fadeIn {
  animation-name: fadeIn;
  animation-duration: 600ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article {
  position: relative;
  width: 45px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  font-weight: bold;
  border: 1px solid #009299;
  color: #009299;
  box-sizing: border-box;
  border-radius: 6px;
  background: #fff;

  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: 0.2s ease;
  }

  input, textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
  }

  input[type="checkbox"]:checked ~ div {
    background-color: #009299;
    color: #fff;
  }
}

.Imc_DaysPickerField {
  display: flex;
  flex-direction: column;
}

.Imc_EdtiableField {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.25rem;
  }

  &_input {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #5a5a5a;
    outline-color: #009299;
    padding: 0 0.5rem;

    &::invalid {
      border-color: red;
    }

    &:hover {
      border-color: #9f9f9f;
    }
  }

  &_required {
    color: rgb(235, 0, 0);
  }

  &_select {
    height: 40px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #5a5a5a;
    box-shadow: none;
    outline-color: #009299;
  }

  &_error {
    position: absolute;
    bottom: -20px;
    font-size: 0.9rem;
    color: red;
    width: 100%;
    text-align: center;
  }
}

.react-select-container {
  height: 40px;
}

.react-select__control {
  height: 100%;
}

.file-drop-container p {
  color: red;
  text-align: center;
}

.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 150px;
  border-radius: 6px;
  border: 2px dashed #009299;
}

.upload {
  font-size: 3rem;
}

.drop-message {
  text-align: center;
  color: #009299;
  font-size: 20px;
}

.file-status-bar {
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  line-height: 50px;
  height: 50px;
}

.file-status-bar > div {
  overflow: hidden;
}

.file-type {
  display: inline-block !important;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-top: 25px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #abc;
  color: #fff;
  background: #009299;
  text-transform: uppercase;
}

.file-name {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  text-overflow: ellipsis;
  color: #009299;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
}

.file-error {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  color: #004d50;
}

.file-error-message {
  color: red;
}

.file-type-logo {
  font-size: 48px;
  background-size: 100%;
  position: absolute;
}

.file-size {
  display: inline-block;
  vertical-align: top;
  color: #30693d;
  margin-left: 10px;
  margin-right: 5px;
  margin-left: 10px;
  color: #444242;
  font-weight: 700;
  font-size: 14px;
}

.file-remove {
  position: absolute;
  top: 20px;
  right: 10px;
  line-height: 15px;
  cursor: pointer;
  color: red;
  margin-right: -10px;
}

.file-selector {
  cursor: pointer;
  width: 200px;
  height: 60px;
  background-color: #009299;
  color: #fff;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
  transition: all 200ms;

  &:hover {
    filter: brightness(0.95);
  }
}

.Imc_MedicalTurnItem {
  &_input {
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgb(90, 90, 90);
    outline-color: #009299;
    padding: 0 0.5rem;
  }

  &_actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .close {
      transform: rotate(45deg);
    }

    &_button {
      border: 2px solid #009299;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      font-size: 1.5rem;
      cursor: pointer;
      background: none;
      transition: all 200ms;
      color: #009299;

      &:hover {
        border-color: #000;
        color: #000;
      }
    }
  }
}

.Imc_TurnForm {
  padding: 2rem;
  width: 100%;
  background-color: #dfe9e9;
  display: flex;
  justify-content: center;
  align-items: center;

  &_form_button {
    float: right;
    width: 200px;
  }

  &_submit {
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: #009299;
    color: #fff;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: all 200ms;

    &:hover {
      filter: brightness(0.95);
    }
  }

  &_wrapper {
    box-sizing: border-box;
    padding: 1rem 2rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 45vw;
    @media screen and (max-width: 1400px) {
      width: 60vw;
    }
    @media screen and (max-width: 1280px) {
      width: 90vw;
    }

  }

  &_header {
    color: #fff;
    border-radius: 6px;
    padding: 0.25rem;
    height: 200px;
    background-color: #009299;
    display: flex;
    flex-direction: column;

    &_caption {
      height: 100%;
      background-image: url("https://www.imcnet.com.ar/imagenes/banner_turnoonline02.jpg");
      background-size: cover;
      background-position-y: -200px;
    }

    &_title {
      text-align: center;
      margin: 0.5rem;
    }
  }

  &_body {
    &_subtitle {
      padding: 1rem 0;
      color: #009299;
      position: relative;
      padding-bottom: 0.5rem;

      &::before {
        content: "";
        width: 10%;
        height: 6px;
        background-color: #009299;
        position: absolute;
        border-radius: 6px;
        bottom: 0;
      }
    }

    &_fieldWrapper {
      padding: 1rem 0 0;
    }
  }

  &_legend {
    color: rgb(92, 92, 92);
    font-size: 0.85rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

input, textarea {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

.col-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.col-4 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  gap: 1rem;
}

.--fadeIn {
  animation-name: fadeIn;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.--hide {
  visibility: hidden;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Imc_loading {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

.Imc_submitted {
  height: 15vh;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #009299;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.container {
  position: relative;
  padding: 2rem 0rem;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  background-color: #eaeaea;
  grid-template-rows: 40vh;
  display: grid;
  gap: 0px 0px;
  grid-template-areas: ". contact contact_form .";
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 1280px) {
    padding: 2rem;
    grid-template-areas: "contact contact_form";
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 768px) {
    padding: 2rem;
    grid-template-rows: auto;
    grid-template-areas: "contact" "contact_form";
    grid-template-columns: 1fr;
  }
}

.contact {
  grid-area: contact;
}

.contact_form {
  grid-area: contact_form;
}

.footer {
  height: 40vh;
}

.Imc_ContactInfo {
  &_title {
    padding-bottom: 1rem;
  }

  &_field {
    padding: 0.5rem 0;
  }

  &_subTitle {
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  &_linkContainer {
    padding: 1rem 0;
    display: flex;
  }

  &_link {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 0.75rem;
    background-color: #dadada;
    transition: all 200ms ease-in-out;

    &:hover {
      a {
        color: #fff;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 1.25rem;
      color: #828282;
    }
  }
}

.fb-blue:hover {
  background-color: #395693;
}

.yt-red:hover {
  background-color: red;
}

.Imc_ContactForm {
  &_fieldContainer {
    display: flex;
    flex-direction: column;
  }

  &_field {
    position: relative;
    margin-bottom: 1rem;
    height: 40px;
    border-radius: 6px;
    padding: 7px 15px;
    border: 1px solid #e0e1e1;
    background-color: #fcfcfc;
  }

  &_fieldArea {
    position: relative;
    margin-bottom: 1rem;
    height: 100px;
    border-radius: 6px;
    padding: 7px 15px;
    border: 1px solid #e0e1e1;
    background-color: #fcfcfc;
  }

  &_fieldContainer {
    position: relative;
  }

  &_actionContainer {
    display: flex;
    justify-content: space-between;
  }

  &_error {
    position: absolute;
    font-size: 0.9rem;
    color: red;
    right: 1rem;
    top: 10px;
  }
}

.Imc_loadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3d3d3;
  z-index: 1000;
}

.Imc_Footer {
  height: 6vh;
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;

  &_content {
    width: 55vw;
    display: flex;
  }

  &_legal {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
